.sidebar {
  background-color: #2f3944;
  padding: 1rem;
  width: 200px;
  height: 100%;
  position: fixed;
  
    &__nav {
      padding-top: 20px;
    }
  
    &__nav-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    &__nav-item {
      padding: 0 10px;
  
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  
    &__nav-link {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 10px 0;
      font-size: 18px;
  
      &--active {
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  